html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.about--me{
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: "Roboto";
  -moz-osx-font-smoothing: "Roboto";
  font-style: normal;
}

:root{
  --primary: #4E83BB; 
  --heading-color: 
}
.background{
  /* height: 100vh;
  background: rgb(210, 206, 206);
  background: linear-gradient(180deg, rgb(213, 216, 227) 0%, rgb(211, 235, 245) 100%);
  background-size: 100% 100vh; */

  height: 100vh;
  background: linear-gradient(to bottom, rgb(213, 216, 227) 0%, rgb(211, 235, 245) 100%);
  width: 100vw;
  background-size: 100% 100vh;
  margin: 0;
  padding: 0;
}
.profile-pic {
  position: absolute;
  width: 284.8px;
  height: 268.6px;
  border-radius: 50px;
  top: 25%;
  left: 15%; 
}
/* .btn {
  font-family: "Roboto";
  display: inline-block;
} */

.social-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-btn {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 40px;
  margin-bottom: 10px;
  padding: 30px;
  border: none;
  border-radius: 15px;
  background-color: #3e5c8b;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  
}

.social-btn:hover {
  background-color: #7294cb;
  color: #ffffff;
}

.footer {
  padding: 20px;
  text-align: center;
  position: absolute; /* Make the footer absolute */
  bottom: 0; /* Pin the footer to the bottom of the page */
  width: 100%; /* Take up the full width of the page */
}

/* background-color: #f0f0f0; Add a light gray background to the footer */

#text {
  padding: 50px 20px;
  background-color: #f4f4f4;
}

.text-about-me {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}
.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 4.5em;
  margin-bottom: 20px;
}

.hero-list {
  list-style-type: none;
  padding: 0;
}

.hero-list li {
  margin-bottom: 10px;
  font-size: 2.0em;
}

.hero-list i {
  margin-right: 10px;
  color: #007bff;  /* You can change this color */
}

.margin-first-bullet{
  padding-top: 16vh;
  text-align: left;
  margin-left: 60vh;
  font-family: "Roboto";
  font-size: 20px; 
  font-weight: bold;
}

.text-bullet {
  text-align: left;
  margin-left: 60vh;
  font-family: "Roboto";
  font-size: 20px; 
  font-weight: bold; 
}

.about-me-title{
  font-size: 30px;
}

.about-me-from-top{
  position: relative;
  margin-left: 35%;
  top: 10vh;
}

.blue-text {
  color: rgb(57, 100, 169);
}

.purple-text {
  color: rgb(149, 80, 179);
}

.green-text {
  color: rgb(69, 165, 100);
}

.orange-text {
  color: rgb(163, 125, 69);
}

.darkblue-text {
  color: rgb(22, 72, 235);
}

.icon-style{
  margin: 10px;
}